1. Given the array of integers nums, you will choose two different indices i and j of that array. Return the maximum value of (nums[i]-1)*(nums[j]-1).


Example 1:

Input: nums = [3,4,5,2]
Output: 12
Explanation: If you choose the indices i=1 and j=2 (indexed from 0), you will get the maximum value, that is, (nums[1]-1)*(nums[2]-1) = (4-1)*(5-1) = 3*4 = 12.

In [ ]:
arr = list(map(int, input().split()))

def maxprod(arr):
  max_prod = -9999
  for i in range(len(arr)):
    for j in range(len(arr)):
      if i == j:
        continue
      prod = (arr[i] - 1) * (arr[j] - 1)

      if prod > max_prod:
        max_prod = prod
  return max_prod

maxprod(arr)

3 4 5 2

12

2. There are n soldiers standing in a line. Each soldier is assigned a unique rating value.

You have to form a team of 3 soldiers amongst them under the following rules:

Choose 3 soldiers with index (i, j, k) with rating (rating[i], rating[j], rating[k]).
A team is valid if: (rating[i] < rating[j] < rating[k]) or (rating[i] > rating[j] > rating[k]) where (0 <= i < j < k < n).
Return the number of teams you can form given the conditions. (soldiers can be part of multiple teams).

Example 1:

Input: rating = [2,5,3,4,1]
Output: 3
Explanation: We can form three teams given the conditions. (2,3,4), (5,4,1), (5,3,1).

In [ ]:
rating = list(map(int,input().split()))

def count_valid_team(rating):
  count = 0
  for i in range(len(rating)):
    for j in range(i+1,len(rating)):
      for k in range(j+1,len(rating)):
        if (rating[i]>rating[j] and rating[j]>rating[k]) or (rating[i]<rating[j] and rating[j]<rating[k]):
          count += 1
  return count

count_valid_team(rating)

2 5 3 4 1

3

3. Given two integer arrays startTime and endTime and given an integer queryTime.

The ith student started doing their homework at the time startTime[i] and finished it at time endTime[i].

Return the number of students doing their homework at time queryTime. More formally, return the number of students where queryTime lays in the interval [startTime[i], endTime[i]] inclusive.



Example 1:

Input: startTime = [1,2,3], endTime = [3,2,7], queryTime = 4
Output: 1
Explanation: We have 3 students where:
The first student started doing homework at time 1 and finished at time 3 and wasn't doing anything at time 4.
The second student started doing homework at time 2 and finished at time 2 and also wasn't doing anything at time 4.
The third student started doing homework at time 3 and finished at time 7 and was the only student doing homework at time 4.

In [ ]:
startTime = list(map(int,input().split()))
endTime = list(map(int,input().split()))
queryTime = int(input())

def busystudent(startTime,endTime,queryTime):
  count = 0
  for i in range(len(startTime)):
    if queryTime >= startTime[i] and queryTime <= endTime[i]:
      count += 1
  return count

busystudent(startTime,endTime,queryTime)

1 2 3
3 2 7
4

1

4. Given an integer num, return the number of steps to reduce it to zero.

In one step, if the current number is even, you have to divide it by 2, otherwise, you have to subtract 1 from it.



Example 1:

Input: num = 14
Output: 6
Explanation:
Step 1) 14 is even; divide by 2 and obtain 7.
Step 2) 7 is odd; subtract 1 and obtain 6.
Step 3) 6 is even; divide by 2 and obtain 3.
Step 4) 3 is odd; subtract 1 and obtain 2.
Step 5) 2 is even; divide by 2 and obtain 1.
Step 6) 1 is odd; subtract 1 and obtain 0.

In [ ]:
num = int(input())

def steps_to_reduce_to_zero(num):
  step = 0
  while num > 0:
    if num % 2 == 0:
      num = num // 2
      step += 1
    else:
      num = num - 1
      step += 1
  return step

steps_to_reduce_to_zero(num)

14

6

5. Given an integer n, return an array ans of length n + 1 such that for each i (0 <= i <= n), ans[i] is the number of 1's in the binary representation of i.



Example 1:

Input: n = 2
Output: [0,1,1]
Explanation:
0 --> 0
1 --> 1
2 --> 10

In [ ]:
n = int(input())

def countbits(n):
  res = []
  for i in range(n + 1):
      binary = bin(i)
      count = binary.count('1')
      res = res + [count]
  return res

countbits(n)

2

[0, 1, 1]